@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Light.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Medium.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/LightItalic.ttf') format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/MediumItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}
