/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fonts";

$mainBlue: rgb(18, 126, 251);
$bordSty: 1px solid lightgrey;

*{
	box-sizing: border-box;
}

body{
	font-family: Deutch; 
	width: 100%;
	color: #444;
	text-align:center;
}

i{
	font-style: italic;
	color: #666;
}

b{
	font-weight: 700;
	color: #666;
}

pre{
	font-family: Courier New;
	font-size: 0.6em;
}

.show{
	display:block !important;
}

.hide{
	display: none !important;
}

section#main{
	text-align:center;
	padding-top: 20px;
	width: 75%;
	display: inline-block;
	opacity: 1;
}

.questionTransition{
	opacity: 0 !important;
}

div#question{

	width: 100%;
	display:inline-block;
	position: relative;
	border-bottom: $bordSty;
	padding-bottom: 40px;
	margin-bottom: 20px;

	&:before, &:after{
		content: '';
		width: 45%;
		position: absolute;
		height: 20px;
		top: 20px;
		border-top: $bordSty;
	}

	&:before{
		left: 0;
	}

	&:after{
		right: 0;
	}

	span#number{
		width: 40px;
		height: 40px;
		background-color: $mainBlue;
		border-radius: 40px;
		text-align:center;
		line-height: 2.7em;
		display:inline-block;
		position: relative;
		color: white;
	}

	p#questionReplace{
		font-size: 2em;
		line-height: 1.5em;
		padding-top: 10px;
	}
}

div#answers{
	width: 100%;
	display:inline-block;
	margin-bottom: 20px;
	position: relative;

	ul{
		li#last{
			display:none;
			position: absolute;
			width: 100%;
			background-color: white;
			border: 1px solid lightgrey;

			input[type="text"]{
				top: 35%;
				left: 25%;
				width: 50%;
				height: 30%;
				position: absolute;
				font-family: Deutch;
				font-weight: 200;
				background-color: whitesmoke;
				font-size: 2em;
				color: #444;
				text-align:center;
				border:1px solid lightgrey;
				border-radius: 5px;
			}

			&:before{
				content: '';
				display: table;
				padding-top: 25%;
			}
		}

		li{
			width: 25%;
			float: left;
			position: relative;

			&:before{
				content: '';
				display: table;
				padding-top: 100%;
			}

			&:nth-child(4){
				border-right: $bordSty;
			}

			a{
				text-decoration: none;
				color: #444;
				top: 0;
				left: 0;
				right: 0;
				bottom:0;
				position: absolute;
				border-left: $bordSty;
				border-bottom: $bordSty;
				border-top: $bordSty;
				transition: all 0.6s ease;
				font-size: 1.2em;
				line-height: 1.4em;
				padding: 2px;
				padding-top: 30%;

				&:hover{
					background-color: $mainBlue;
					transition: all 0.6s ease;
				}
			}

			a.active{
				background-color: $mainBlue;
				color: white;
			}

			input[type="checkbox"]{
				display:none;
			}
		}
	}
}

div#submit{
	border-top: $bordSty;
	width: 100%;
	display:inline-block;
	border-bottom: $bordSty;
	padding: 10px;

	button#start, button#contButton{
		border:none;
		background-color: #127efb;
		font-family: Deutch;
		font-size: 2em;
		width: 300px;
		height: 100px;
		color: white;
		font-weight: 600;
		border-radius: 5px;
		transition: background-color 0.6s ease;

		&:hover{
			background-color: lighten($mainBlue, 10%);
			transition: background-color 0.6s ease;
		}

		&:active{
			background-color: darken($mainBlue, 10%);
			transition: background-color 0.6s ease;
		}
	}
}

p#finalScore{
	font-size: 2em;
	font-weight: 600;
	padding: 10px;
	border-bottom: $bordSty;
	position: relative;

	&:before, &:after{
		content: '';
		display:block;
		width: 30%;
		height: 50%;
		position: absolute;
		border-top: $bordSty;
		top: 50%;
	}

	&:before{
		left: 0;
	}

	&:after{
		right: 0;
	}

	span#score{
		background-color: $mainBlue;
		color: white;
		font-weight: 200;
		width: 90px;
		height: 90px;
		padding-top: 35px;
		font-size: 0.8em;
		display:inline-block;
		border-radius: 90px;
	}
}
div.question:nth-child(odd){
	background-color: whitesmoke;
}
div.question{
	padding: 20px;
	border-bottom: $bordSty;
	border-left: $bordSty;
	border-right: $bordSty;

	pre{
		font-size: 0.8em;
		margin-top: 10px;
	}

	p{
		font-size: 1.2em;

		span{
			display:inline-block;
			width: 50px;
			height:50px;
			background-color: $mainBlue;
			color: white;
			font-weight: 200;
			border-radius: 50px;
			padding-top: 15px;
			margin-right: 15px
		}
	}

	span.userAnswer{
		font-weight: 200;
		color: red;
		font-size: 1.1em;
	}

	span.correctAnswer{
		font-weight: 200;
		color: green;
		font-size: 1.1em;
	}
}







