<!doctype html>
<title>Skill Sharing</title>
<link rel="stylesheet" href="skillsharing.css">

<h1>Skill Sharing</h1>

<p>Your name: <input type="text" id="name"></p>

<div id="talks"></div>

<form id="newtalk">
    <h3>Submit a talk</h3>
    Title : <input type="text" style="width 40em" name="title">
    <br>
    Summary : <input type="text" style="width 40em" name="summary">
    <button type="submit">Submit</button>
</form>

<div id="template" style="display: none">
    <div class="talk">
        <h2>{{title}}</h2>
        <div>by <span class="name">{{presenter}}</span></div>
        <p>{{summary}}</p>
        <div class="comments">
            <div class="comment" template-repeat="comments">
                <span class="name">{{author}}</span>: {{message}}
            </div>
        </div>
        <form>
            <input type="text" name="comment">
            <button type="submit">Add comment</button>
            <button type="button" class="del">Delete Talk</button>
        </form>
    </div>
</div>

<script src="skillsharing.js"></script>

