<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #ecf0f1;
	text-align:center;
	background: url('cal.png');
	background-size: 100%;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

div{
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: #1abc9c;
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	margin-right: 10px;
	opacity: 0.95;
}

div#calculate{background-color: #9b59b6;}

h4{
	text-align:center;
	margin-top: 10%;
	font-size: 1.5em;
	font-weight: 100;
	color: whitesmoke;
}

input{
	border:none;
	width: 40%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:#2c3e50;
	width: 20%;
	height: 30px;
	color: whitesmoke;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Calculator</h1> 

<div id="input">
<h4>Enter a number in each box<br><br>Then press a button bellow<br>to make the calculation</h4> 
<input id="numberOne" type="text" placeholder="10">
<input id="numberTwo" type="text" placeholder="9">
<button onclick="calculator(1)">*</button>
<button onclick="calculator(2)">/</button>
<button onclick="calculator(3)">+</button>
<button onclick="calculator(4)">-</button>
</div>

<div id="calculate">
<h4>Result:</h4>
<input id="result" type="text" disabled>
</div>

<script>
//calculator
//function takes in numbers from button for correct operand

calculator = function(number){
	//get numbers, remove any spaces and convert into integer
	var numberOne = parseInt(document.getElementById('numberOne').value.replace(/\s/g, '')),
	numberTwo = parseInt(document.getElementById('numberTwo').value.replace(/\s/g, '')),
	result = '';
		
	//make sure the numbers are indeed numbers otherwise return error
	if(isNaN(numberOne) || isNaN(numberTwo)){
		result = "You did not enter a valid calculation";

	// switch statement to make the correct calculation	
	}else{
		switch(number){
			case 1:
			result = numberOne * numberTwo;
			break;
			case 2:
			result = numberOne / numberTwo;
			break;
			case 3:
			result = numberOne + numberTwo;
			break;
			case 4:
			result = numberOne - numberTwo;
			break;
		}
	}
	document.getElementById('result').value = result;
}


</script>