<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #ecf0f1;
	text-align:center;
	background: url('cal.png');
	background-size: 100%;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

div{
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: #d35400;
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	margin-right: 10px;
	opacity: 0.95;
}

div#calculate{background-color: #2c3e50;}

h4{
	text-align:center;
	margin-top: 10%;
	font-size: 1.5em;
	font-weight: 100;
	color: whitesmoke;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:#f1c40f;
	width: 30%;
	height: 30px;
	color: #444;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Command Line <em>Calculator</em></h1> 

<div id="input">
<h4>Enter a simple calculation! <br>Valid operands include: <br><em>+, -, / and *</em></h4> 
<input id="terms" type="text" placeholder="10 * 10">
<button onclick="calculator()">Calculate</button>
</div>

<div id="calculate">
<h4>Results:</h4>
<input id="result" type="text" disabled>
</div>

<script>
//calculator

calculator = function(){
	//get calculation and remove spaces
	var calculation = document.getElementById('terms').value.replace(/\s/g, ''),

	//check the calc includes the correct operands and return the index else -1
	validOperand = calculation.indexOf('*') != -1? calculation.indexOf('*') : calculation.indexOf('+') != -1? calculation.indexOf('+') : calculation.indexOf('-') != -1 ? calculation.indexOf('-') : calculation.indexOf('/') != -1? calculation.indexOf('/') : -1;

	//seperate the string into numbers using operand position
	if(validOperand > -1){
		var result = calculation,
		numberOne = parseInt(result.substr(0, validOperand)),
		numberTwo = parseInt(result.substr(validOperand+1)),
		operandSymbol = result.substr(validOperand, 1);
		
		//make sure the numbers are indeed numbers otherwise return error
		if(isNaN(numberOne) || isNaN(numberTwo)){
			result = "You did not enter a valid calculation";

		//tried to use the opperandSymbol in calc but gave an error hence a switch statement to mnake the correct calculation	
		}else{
			switch(operandSymbol){
				case '*':
				result = numberOne * numberTwo;
				break;
				case '/':
				result = numberOne / numberTwo;
				break;
				case '+':
				result = numberOne + numberTwo;
				break;
				case '-':
				result = numberOne - numberTwo;
				break;
			}

			//final check to see that the lengths match - this is in order to make sure that the calculation 10 * 10 * 10 is not valid as it would be without this code 
			if(numberOne.toString().length + numberTwo.toString().length + 1 < calculation.length){
				result = "Now you're just trying to trip me up!";

			}
		}

	}else{
		result = "You did not enter a valid calculation";
	}

	document.getElementById('result').value = result;
}


</script>