<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: pink;
	text-align:center;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

p{
	font-size: 1.5em;
	font-weight: 400;
	font-family: georgia;
	color: #444;
}

hr{
	border-bottom: 1px solid lavenderblush !important;
	border-top: 1px solid rosybrown  !important;
	border-style: none;
	width: 40%;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 10px;
}

div{
	width: 80%;
	/*height: 0;
	padding-bottom: 30%;*/
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	opacity: 0.95;
}

h4{
	text-align:center;
	margin-top: 1%;
	font-size: 1.5em;
	font-weight: 200;
	color: black;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:royalblue;
	width: 20%;
	height: 30px;
	color: #444;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Counting Letters<em> Redux</em></h1> 

<div id="input">
<h4 id="title">Enter some text</h4> 
<input id="userText" type="text" placeholder="...text...">
<button id="superButton" onclick="lineToColumn(1, 'blank')">Hit me</button>
</div>

<div id="results">

</div>

<script>

var searchString = '';
//counting letters redux
	lineToColumn = function(cont, oldText){
		var userInput = document.getElementById('userText').value,
		continueFunction = cont,
		oldText = oldText,
		outPut = 0,
		finalE;
		newContent = document.createElement('p');

		if(searchString.indexOf(userInput) != -1){
			continueFunction = 0;
		}
		
		if(continueFunction == 1){
			document.getElementById('title').innerHTML = "Now select a letter to search for";
			document.getElementById(
				'superButton').onclick = function() {lineToColumn(2,userInput);};
		}else if(continueFunction == 0){
			finalE = "<hr>Repeated character. Exiting Program<hr>";
			newContent.innerHTML = finalE;
			document.getElementById('results').innerHTML = '';
			document.getElementById('results').appendChild(newContent);
		}else{
			searchString += userInput+',';

			for(var i=0; i<oldText.length; i++){
				if(oldText.substr(i,1).toLowerCase() == userInput){
					outPut++
					
				}	
			}

			if(outPut == 0){
				finalE = "<hr>There are no <strong>"+userInput+"'s</strong> apparent in the text<hr>";
			}else if(outPut == 1){
				finalE = "<hr>There is precisely <em>1</em><strong>"+userInput+"</strong> nestling in the body<hr>";
			}else{
				finalE = "<hr>There are <em>"+outPut+"</em> <strong>"+userInput+"'s</strong> <br>in the text you so handsomely suplied<hr>";
			}
			
			newContent.innerHTML = finalE;
			document.getElementById('results').innerHTML = '';
			document.getElementById('results').appendChild(newContent);
		}

		console.log(searchString);
	}

</script>