<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: khaki;
	text-align:center;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

p{
	font-size: 1.5em;
	font-weight: 400;
	font-family: georgia;
	color: #444;
}

hr{
	border-bottom: 1px solid lavenderblush !important;
	border-top: 1px solid rosybrown  !important;
	border-style: none;
	width: 40%;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 10px;
}

div{
	width: 80%;
	/*height: 0;
	padding-bottom: 30%;*/
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	opacity: 0.95;
}

h4{
	text-align:center;
	margin-top: 1%;
	font-size: 1.5em;
	font-weight: 200;
	color: black;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:royalblue;
	width: 20%;
	height: 30px;
	color: #444;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Distance <em>to</em> Point</h1> 

<div id="input">
<h4 id="title">Enter X and Y coordinates for 3 points<br>Please enter in the format 1.4(x = 1, y = 4)</h4> 
<input id="x1" type="text" placeholder="0.0">
<input id="x2" type="text" placeholder="0.0">
<input id="x3" type="text" placeholder="0.0">
<button id="superButton" onclick="distance()">go</button>
</div>

<div id="results">

</div>

<script>

//distance point to point
	distance = function(){
		var coOne = document.getElementById('x1').value,
		coTwo = document.getElementById('x2').value,
		coThree = document.getElementById('x3').value,
		p1Top2 = (coOne - coTwo).toFixed(2).replace('-', ''),
		p1Top3 = (coOne - coThree).toFixed(2).replace('-', ''),
		p2Top3 = (coTwo - coThree).toFixed(2).replace('-', ''),
		finalText = '',
		newContent = document.createElement('p');


		//eugh, hate this. Mind not working, doesn't work
		
		if(p1Top2 < p1Top3 && p1Top2 < p2Top3){
			finalText = 'Points 1 and 2 are closest'; 
		}else if(p1Top3 < p1Top2 && p1Top3 < p2Top3){
			finalText = 'Points 1 and 3 are closest'; 
		}else if(p2Top3 < p1Top2 && p2Top3 < p1Top3){
			finalText = 'Points 2 and 3 are closest';
		}else{
			finalText = 'Points are equidistant';
		}
		
		newContent.innerHTML = finalText+'<br>'+p1Top2+' '+p1Top3+' '+p2Top3;
		document.getElementById('results').innerHTML = '';
		document.getElementById('results').appendChild(newContent);
	}

</script>