<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #E7F0ED;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	position: -webkit-sticky;
	background-color: rgba(255,255,255,0.8);
}

p{
	text-align:center;
	margin-top: 10%;
	font-size: 3em;
	font-weight: 100;
	color: #444;
	line-height: 1.5em;
}

p span{
	font-weight: 300;
	color: #666;
}

</style>
<h1>Try to guess <em>my</em> number!</h1> 
<p id='answer'></p>

<script>
//GUESS MY NUMBER

var randNumber = Math.floor(Math.random()*1000)+1,
guesses = 0,
correctGuess = false;

while(!correctGuess){

	var userGuess = prompt('Tell me a number:');

	if(isNaN(userGuess)){
		alert('Please enter a valid number');
	}else if(userGuess == randNumber){
		guesses++;
		var src = document.getElementById('answer');
		src.innerHTML = '<span>CORRECT!</span> <br> You needed <span><em>'+guesses+'</em></span> guesses';
		correctGuess = true;
	}else if (userGuess < randNumber){
		guesses++;
		alert('No! My number is higher');
	}else{
		guesses++;
		alert('No! My number is lower');
	}

}

</script>