<style>
	*{
		padding: 0;
		margin: 0;
		font-family: helvetica neue;
	}

	body, html{
		text-align:center;
		background: -webkit-radial-gradient(circle,white,silver);
		width: 100%;
		overflow-x: hidden;
	}

	header{
		padding: 10px 0 20px 0;
		border-bottom: 1px solid silver;
		text-align: center;
		font-weight: 500;
		background-color: rgba(255,255,255,0.8);
	}

	h1{
		margin-bottom: 10px;
	}

	a{
		text-decoration: none;
		color: #444;
	}

	a:hover{
		color: red;
	}

	section#sec_html div:hover{
		-webkit-transform: translateZ(1px);
		box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
		-webkit-transition: box-shadow 1s, -webkit-transform 1s;
	}

	section#sec_html a:hover p {
		color: #04bff3;
		background-color: rgba(0,0,0,0.8);
		-webkit-transition: color 0.6s, background-color 0.6s;
	}

	section#sec_html a:hover em{
		color: #FF0066;
		-webkit-transition: color 1s;
	}

	section#sec_html p{
		text-align:center;
		font-size: 1.5em;
		font-weight: 300;
		color: #444;
		position: absolute;
		top: 0;
		background-color: rgba(255,255,255,0.8);
		width: 100%;
		padding: 5px;
		text-align: center;
		-webkit-transition: color 0.6s, background-color 0.6s;
	}

	em{
		font-weight: 100;
		-webkit-transition: color 1s;
	}

	section{
		-webkit-perspective: 50px;
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: -webkit-transform 0.6s ease;
	}

	section#main{width: 200%; position: relative;}

	section#java{left: 50%;}

	section#sec_html div{
		width: 20%;
		overflow:hidden;
		padding-bottom: 20%;
		display: inline-block;
		margin-right: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		height: 0;
		border-radius: 10px;
		position: relative;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
		-webkit-transition: -webkit-transform 0.6s;
	}

	div.guessNumber{background-color:#E7F0ED;}
	div.optyPrime{background-color:#E9F1E2;}

	img{
		width: 100%;
		min-height: 100%;
	}

	section.shift{
		-webkit-transform: translateX(-50%);
		-webkit-transition: -webkit-transform 0.6s;
	}

</style>

<script type="text/javascript">
	
	var shiftSection = function(num){
		var sectionMain = document.getElementById('main');

		if(num == 1){
			sectionMain.className = '';
		}else if(num == 2){
			sectionMain.className = 'shift';

		}
	}

</script>

<header>
<h1>Exercises <em>&</em> Examples</h1> 
<h3><a href="#" onclick="shiftSection(1);">HTML</a> | <a href="#" onclick="shiftSection(2);">Java</a></h3> 
</header>
<section id="main">

<section id="sec_html">
	<div>
		<a target="_blank" href="PRIME_1000.html">
			<p>Prime Numbers: <em>upto 1000</em></p>
			<img src="images/prime_1.jpg" />
		</a>

	</div>

	<div>
		<a target="_blank" href="PRIME_1002.html">
			<p>Prime Numbers: <em>the first 1000</em></p>
			<img src="images/prime_2.jpg" />
		</a>

	</div>

	<div class="guessNumber">
		<a target="_blank" href="Guess_my_number.html">
			<p>Try to guess <em>my</em> number!</p>
			<img src="images/numbers_2.png" />
		</a>

	</div>

	<div>
		<a target="_blank" href="POKER.html">
			<p>Poker <em>hands</em></p>
			<img src="images/poker.jpg" />
		</a>

	</div>

	<div>
		<a target="_blank" href="rockPaperDeath.html">
			<p>Rock, Paper, <em>DEATH</em></p>
			<img src="images/rock.jpg" />
		</a>

	</div>

	<div class="optyPrime">
		<a target="_blank" href="OptimusPrime.html">
			<p>Optimus <em>prime</em></p>
			<img src="images/optimus.png" />
		</a>

	</div>

	<div class="pi">
		<a target="_blank" href="pi.html">
			<p>Pie <em>pi</em></p>
			<img src="images/pie.jpg" />
		</a>

	</div>

	<div class="calculator">
		<a target="_blank" href="calculator.html">
			<p>Calculator</p>
			<img src="images/cal.png" />
		</a>

	</div>

	<div class="commandCalculator">
		<a target="_blank" href="command_calculator.html">
			<p>Command Line <em>Calculator</em></p>
			<img src="images/cal.png" />
		</a>

	</div>

	<div class="yourChange">
		<a target="_blank" href="youChange.html">
			<p>Your <em>Change</em></p>
			<img src="images/change.jpg" />
		</a>

	</div>

	<div class="lineToColumn">
		<a target="_blank" href="lineToColumn.html">
			<p>Line <em>to</em> Column</p>
			<img src="images/column.jpg" />
		</a>

	</div>

	<div class="lineToColumn">
		<a target="_blank" href="lineToColumnRevisited.html">
			<p>Line to Column <em>Revisited</em></p>
			<img src="images/column.jpg" />
		</a>

	</div>

	<div class="magicE">
		<a target="_blank" href="magicE.html">
			<p>Counting <em>Letters</em></p>
			<img src="images/letters.jpg" />
		</a>

	</div>

	<div class="countingPairs">
		<a target="_blank" href="countingPairsOfLetters.html">
			<p>Counting Pairs of <em>Letters</em></p>
			<img src="images/letters.jpg" />
		</a>

	</div>

	<div class="countingPairs">
		<a target="_blank" href="countingLettersRedux.html">
			<p>Counting Letters<em> Redux</em></p>
			<img src="images/letters.jpg" />
		</a>

	</div>

	<div class="palindrome">
		<a target="_blank" href="palindrome.html">
			<p>Palindrome</p>
			<img src="images/pal.jpg" />
		</a>

	</div>

	<div class="palindrome">
		<a target="_blank" href="palindromeCreator.html">
			<p>Palindrome<em> Creator</em></p>
			<img src="images/pal.jpg" />
		</a>
	</div>

	<div class="palindrome">
		<a target="_blank" href="palindromeRedux.html">
			<p>Palindrome<em> Redux</em></p>
			<img src="images/pal.jpg" />
		</a>
	</div>

	<div class="text2number">
		<a target="_blank" href="text2number.html">
			<p>Text<em> 2 </em> Number</p>
			<img src="images/text.png" />
		</a>
	</div>


</section>

<section id="java">
	<div id="exerciseContainer">
		<ul>
		</ul>
	</div>
	<div id="codeContainer">
		<h2>Exercise Name</h2>
		<p>Exercise description here...</p>
		<div id="codeGen"></div>
	</div>
</section>


</section>




