<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #EFEFEF;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	position: -webkit-sticky;
	background-color: rgba(255,255,255,0.8);
}

p{
	text-align:center;
	margin-top: 10%;
	font-size: 3em;
	font-weight: 100;
	color: #444;
	line-height: 1.5em;
}

p span{
	font-weight: 300;
	color: #666;
}

</style>
<h1>Optimus <em>prime</em></h1> 
<p id='answer'></p>

<script>
//Optimus Prime
var stop = false,
//two variables used to store the closest prime numbers going forward and backwards from user number
firstPrime = 0,
secondPrime = 0,
//user pop-up, OUTSIDE the while loop
userInteger = prompt('Please enter a number:'),
firstPrimeLoop = false,
lastPrimeLoop = false;

while(!stop){
	//simple check for user inout error, must be a number and greater than 0
	if(!isNaN(userInteger) && userInteger > 0){
		//if the user enters 1 or 2 it is a valid number but will break the subsequent loops so a simple IF statement to take care of this (1 is not considered a prime number)
		if(userInteger == 2 || userInteger == 1){
			document.getElementById('answer').innerHTML = 'The nearest PRIME number to <span><em>'+userInteger+'</em></span> is <span>2</span>!';
			//break while loop - must be careful to keep track of these, also need to break the loop so the next bit code does not run
			stop = true;
			break;
		}

		//the same FOR loop as before checking if number is divisible by 2 and upwards
		for(var i = 2; i < userInteger; i++){
			//if modulus equals 0 then we need to test the next number for Prime-ness
			if(userInteger % i == 0){

				//set two new variables equal to userInteger - we don't want to change the original input
				var firstPrimeTest = userInteger,
				secondPrimeTest = userInteger;

				//the first while loop counts backwards from user input until it finds a prime
				while(!firstPrimeLoop){
					firstPrimeTest--;
					//will remain true if number is prime
					var isPrimeOne = true;
					//prime test, if a match is found isPrime is set to false and the subsequent IF statement will not run
					for(var j = 2; j < firstPrimeTest; j++){
						if(firstPrimeTest % j == 0){
							isPrimeOne = false;
							break;
						}
					}
					//if the FOR loop found no matches and runs it's full course then the number IS PRIME, firstPrime is set and we break out of this particular WHILE loop(not the main WHILE loop)
					if(isPrimeOne){
						firstPrime = firstPrimeTest;
						firstPrimeLoop = true;
					}
				}
				//exactly the same as previous WHILE loop except we increment the user input
				while(!lastPrimeLoop){
					secondPrimeTest++;
					var isPrimeTwo = true;

					for(var j = 2; j < secondPrimeTest; j++){
						if(secondPrimeTest % j == 0){
							isPrimeTwo = false;
							break;
						}
					}

					if(isPrimeTwo){
						secondPrime = secondPrimeTest;
						lastPrimeLoop = true;
					}
				}

			}
		}

		//finally we test the results, if the first and last primes haven't been touched then the number entered is itself a prime so we simply return the number
		if(firstPrime == 0 && secondPrime == 0){
			document.getElementById('answer').innerHTML = 'You entered a PRIME number: <span>'+userInteger+'</span>';
			stop = true;
		//otherwise we need to determine the closest prime number to the user input	
		}else{
			var differenceOne = userInteger - firstPrime,
			differenceTwo = secondPrime - userInteger;
			//and then a simple IF/ELSE to determine the outcome 
			if(differenceOne == differenceTwo){
				document.getElementById('answer').innerHTML = 'The nearest PRIME numbers to <span><em>'+userInteger+'</span></em> are <span>'+firstPrime+'</span> and <span>'+secondPrime+'</span>';
			}else if(differenceOne > differenceTwo){
				document.getElementById('answer').innerHTML = 'The nearest PRIME number to <span><em>'+userInteger+'</span></em> is <span>'+secondPrime+'</span>';
			}else{
				document.getElementById('answer').innerHTML = 'The nearest PRIME number to <span><em>'+userInteger+'</span></em> is <span>'+firstPrime+'</span>';
			}

			stop = true;
		}
	//if user enters an invalid number then we ask for a new number to be entered	
	}else{
		userInteger = prompt('Invalid number, please enter a number:');
	}
}

//and we're done, works with any number, tested with 10,000,000 - the answer is 9,999,991!

</script>