<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #ecf0f1;
	text-align:center;
	background: url('images/pie.jpg');
	background-size: 100%;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

div{
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: #2ecc71;
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	margin-right: 10px;
	opacity: 0.9;
}

div#calculate{background-color: #e74c3c;}
div#actual{background-color: #3498db;}

h4{
	text-align:center;
	margin-top: 25%;
	font-size: 2em;
	font-weight: 100;
	color: whitesmoke;
	line-height: 1.5em;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:#e74c3c;
	width: 30%;
	height: 30px;
	color: whitesmoke;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Pie <em>pi</em></h1> 

<div id="input">
<h4>Input amount of terms:</h4> 
<input id="terms" type="text" placeholder="1">
<button onclick="piGenerator()">Calculate</button>
</div>

<div id="calculate">
<h4>Results:</h4>
<input id="result" type="text" disabled>
</div>

<div id="actual">
<h4>Proper value of pi:</h4>
<input id="actualPi" type="text" disabled>
</div>

<script>
//π

piGenerator = function(){
	var pi = 0,
	k = 1,
	terms = document.getElementById('terms').value;

	for(var i = 0; i < terms; i++){
		pi = pi+(4/k)-(4/(k+2));
		k=k+4;
	}

	document.getElementById('result').value = pi;
	document.getElementById('actualPi').value = Math.PI;
}


</script>