<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background: url('bck_img.jpg');
	background-size: 100% 100%;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	position: -webkit-sticky;
	background-color: rgba(255,255,255,0.8);
}

p{
	text-align:center;
	margin-top: 10%;
	font-size: 3em;
	font-weight: 100;
	color: #444;
	line-height: 1.5em;
}

p span{
	font-weight: 300;
	color: #666;
}

</style>
<h1>Poker <em>hands</em></h1> 
<p id='answer'></p>
<script>

//used to stop the card selection loop 
var total = 0;

//string 'array' of cards
cardSelection = '',

//used to check if cards are of the same suit (flush/straight flush)
sameSuit = 0,
//used to check if card ranks repeat
sameCard1 = '', sameCard2 = '', sameCard3 = '', sameCard4 = '', sameCard5 = '';
//used to check card order
cardOrder1 = 0, cardOrder2 = 0, cardOrder3 = 0, cardOrder4 = 0, cardOrder5 = 0;

var hand = 0, pair = 0, threeKind = 0, poker = 0;

//run loop until 5 different cards have been entered into cardSelection string

while(total != 5){

	//get user input
	var number = prompt('Enter a card 1-10 or J,Q,K,A').toUpperCase(),
	suit = prompt('Enter the suit: clubs, diamonds, hearts or spades').toLowerCase();

	//check suit variable against list giving a numerical value, if suit is invalid then return false
	var cardSuit = suit == 'clubs'? 'C' : suit == 'diamonds' ? 'D' : suit == 'hearts'? 'H' : suit == 'spades' ? 'S' : false;

	//check number value returning proper value of face cards and if numerical value is within range otherwise return false (also note that we add a '0' to single digit numbers to facilitate our valid card code)
	var cardNumber = number == 'J'? '11' : number == 'Q'? '12' : number == 'K'? '13' : number == 'A'? '01' : number >= 1 && number <= 9? '0'+number : number == 10? '10' : false;

	//store final card number as number + suit eg. 102 (10 of Diamonds);
	var finalCard = cardNumber += cardSuit;

	//check if card has already been selected using indexOf and that no false cards are added to cardSelection
	if(cardSelection.indexOf(finalCard) == -1 && finalCard.indexOf('false')){
		cardSelection += finalCard+',';
		total++;
	} else {
		alert('Card already selected and/or invalid, try again.');
	}
}


//first test - check if the suits are all the same
for(var i = 2; i < cardSelection.length; i+=4){
	var suitTest = cardSelection.substr(2,1);

	if(suitTest == cardSelection.substr(i,1)){
		sameSuit += 1;
	}
}

//test if cards have same ranks, log to sameCard1-5, anything above 1 is a match
for(var i = 0; i < cardSelection.length; i+=4){

	//get current rank
	var testRank = cardSelection.substr(i,2);

	//run another loop to test it against the other numbers (including itself)
	for(var ii = 0; ii < cardSelection.length; ii+=4){

		var testRank2 = cardSelection.substr(ii,2);

		//check for same rank
		if(testRank == testRank2){
			i == 0? sameCard1++ : i == 4? sameCard2++ : i == 8? sameCard3++ : i == 12? sameCard4++ : sameCard5++; 
		}
		//check for highest number
		else if(testRank > testRank2){
			i == 0? cardOrder1++ : i == 4? cardOrder2++ : i == 8? cardOrder3++ : i == 12? cardOrder4++ : cardOrder5++; 
		}
	}
}


//add all the annoying order/same card variables together into a string
var sameCard = sameCard1 + ',' + sameCard2 + ',' + sameCard3 + ',' + sameCard4 + ',' + sameCard5 + ',',
cardOrder = cardOrder1 + ',' + cardOrder2 + ',' + cardOrder3 + ',' + cardOrder4 + ',' + cardOrder5 + ',';

//now we have most of the info we need so we test to see what the best hand is
for (var i = 0; i < sameCard.length; i+=2){
	sameCard.substr(i,1) == 2? pair++ : sameCard.substr(i,1) == 3? threeKind++ : sameCard.substr(i,1) == 4? poker++ : false;
}

if(cardOrder.indexOf(0) != -1 && cardOrder.indexOf(1) != -1 && cardOrder.indexOf(2) != -1 && cardOrder.indexOf(3) != -1 && cardOrder.indexOf(4) != -1){

	var currentTestCard = -1,
	sequential = 0;

	for(var i = 0; i < 5; i++){
		var position = cardOrder.indexOf(i),
		cardOrderPos = position * 2,
		testCard = cardSelection.substr(cardOrderPos, 2);
		testCard-1 == currentTestCard ?  sequential++: sequential--;
		currentTestCard = testCard;
	}

	if(sequential == 3){
		hand = 4;
	}

}else {
	//Determine the hand based on only the same card matches NOT sequential stuff
	if(poker == 4){
		hand = 7;
	}else if(threeKind == 3){
		if(pair == 2){
			hand = 6;
		}else{
			hand = 3;
		}
	}else{
		if(pair == 4){
			hand = 2;
		}else {
			hand = 1;
		}
	}
}

if(sameSuit == 5 && hand == 4){
	hand = 8;
}else if(sameSuit == 5){
	hand = 5;
}

//RESULTS
var answer = document.getElementById('answer');
switch (hand) {
	case 1:
	answer.innerHTML = 'You got a <br><span>PAIR</span>';
	break;
	case 2:
	answer.innerHTML = 'You got <br><span>TWO PAIR</span>';
	break;
	case 3:
	answer.innerHTML = 'You got <br><span>THREE OF A KIND</span>';
	break;
	case 4:
	answer.innerHTML = 'You got a <br><span>STRAIGHT</span>';
	break;
	case 5:
	answer.innerHTML = 'You got a <br><span>FLUSH</span>';
	break;
	case 6:
	answer.innerHTML = 'You got a <br><span>FULL HOUSE</span>';
	break;
	case 7:
	answer.innerHTML = 'You got <br><span>POKER</span>';
	break;
	case 8:
	answer.innerHTML = 'You got a <br><span>STRAIGHT FLUSH</span>';
	break;
	default:
	answer.innerHTML = 'You got a <br><span>HIGH CARD</span>';
	break;
}

</script>




