<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

em{
	font-weight: 300;
	color: #444;
}

ul#primeList{
	margin: 0 auto;
	border-left: 1px dotted silver;
	width: 99%;
	margin-left: 10px;
	min-width: 650px;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	position: -webkit-sticky;
	background-color: rgba(255,255,255,0.8);
}

li{
	width: 7%;
	padding-bottom: 7%;
	height: 0;
	display:inline-block;
	text-align: center;
	border-right: 1px dotted silver;
	border-bottom: 1px dotted silver;
	list-style: none;
	font-weight: 200;
	font-size: 18px;
	line-height: 4em;
	color: #444;
}

li:nth-child(4n +1){
	background-color: #E7F0ED;
}

li:nth-child(4n +2){
	background-color: #FFEEEE;
}

li:nth-child(4n +3){
	background-color: #E9F1E2;
}

li:nth-child(4n +4){
	background-color: #EFEFEF;
}


</style>
<h1>Prime Numbers: <em>the first 1000</em></h1> 
<ul id="primeList">
</ul>

<script>
//First 1000 Prime numbers, using a while loop since we have no immediate way to know how long the loop will run. Otherwise it works the same way as before but utilises a total and a stop boolean

var stop = false,
i = 1,
count = 0;

while(!stop){

	var isPrime = true;

	for(var j = 2; j < i; j++){
		if(i % j == 0){
			isPrime = false;
			break;
		}
	}

	if(isPrime){
		if(i == 1){
		}else{
			var src = document.getElementById('primeList'),
			newContent = document.createElement('li');
			newContent.appendChild(document.createTextNode(i));
			src.appendChild(newContent);
			count++;
		}
	}

	if(count == 1000){
		stop = true;
	}

	i++;

}

</script>