<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #E9F1E2;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px dotted silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	position: -webkit-sticky;
	background-color: rgba(255,255,255,0.8);
}

p{
	text-align:center;
	margin-top: 10%;
	font-size: 3em;
	font-weight: 100;
	color: #444;
	line-height: 1.5em;
}

p span{
	font-weight: 300;
	color: #666;
}

</style>
<h1>Rock, Paper, <em>DEATH</em></h1> 
<p id='answer'></p>

<script>
//Rock, Paper, DEATH!

var playerScore = 0, playerTwoScore = 0, stop = false, resultsString = '';

while(!stop){
	//set to uppercase to make verification easier
	var selection = prompt('Enter rock, paper or scissors for both players.\nPlease enter in the form RR(rock rock):').toUpperCase();

	//horrible if statement, other methods failed to verify user input correctly
	if(selection == 'RR' || selection == 'RS' || selection == 'RP' || selection == 'PP' || selection == 'PR' || selection == 'PS' || selection == 'SS' || selection == 'SR' || selection == 'SP'){

		//results string is used for verification of results otherwise not used
		resultsString += selection+', ';

		//switch to determine scoring, the default case refers to RR,PP,SS(no change in score)
		switch (selection){
			case 'RS':
			playerScore++;
			break;

			case 'RP':
			playerTwoScore++;
			break;

			case 'PR':
			playerScore++;
			break;

			case 'PS':
			playerTwoScore++;
			break;

			case 'SP':
			playerScore++;
			break;

			case 'SR':
			playerTwoScore++;
			break;

			default:
			//Anywhere the two hands equal, do nothing!
			break;
		}

		//check what the difference is between player scores
		var scoring = playerScore - playerTwoScore;

		//once scoring reaches either +3 or -3 the game ends and one is declared the winner
		//check the console to make sure we're getting the right result
		if(scoring == 3){
			document.getElementById('answer').innerHTML = ('<span>Player One</span> wins the day');
			stop = true;
		}else if(scoring == -3){
			document.getElementById('answer').innerHTML = ('<span>Player Two</span> takes the biscuit!');
			stop = true;
		}	

	}
}

</script>