<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: blanchedalmond;
	text-align:center;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

p{
	font-size: 1.5em;
	font-weight: 400;
	font-family: georgia;
	color: #444;
}

hr{
	border-bottom: 1px solid lavenderblush !important;
	border-top: 1px solid rosybrown  !important;
	border-style: none;
	width: 40%;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 10px;
}

div{
	width: 80%;
	/*height: 0;
	padding-bottom: 30%;*/
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	opacity: 0.95;
}

h4{
	text-align:center;
	margin-top: 1%;
	font-size: 1.5em;
	font-weight: 200;
	color: black;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

button{
	border:none;
	background-color:royalblue;
	width: 20%;
	height: 30px;
	color: #444;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Text <em>2</em> Number</h1> 

<div id="input">
<h4 id="title">Enter a number with commas' and decimal points<br>e.g. 246,754.08</h4> 
<input id="userText" type="text" placeholder="...number...">
<button id="superButton" onclick="text2number()">go</button>
</div>

<div id="results">

</div>

<script>

//text2number
	text2number = function(){
		var userInput = document.getElementById('userText').value,
		newContent = document.createElement('p'),
		bigNum = 0;

		for(var i = 0; i < userInput.length; i++){
			if(userInput.charAt(i) == ',' || userInput.charAt(i) == '.'){

			}else{
				bigNum += userInput.charAt(i);
			}
		}

		bigNum = parseInt(bigNum)/2;
		bigNum = bigNum.toString();

		var finalNumber = bigNum.slice(0,-2) + "." + bigNum.substr(-2, 2);

		
		newContent.innerHTML = finalNumber;
		document.getElementById('results').innerHTML = '';
		document.getElementById('results').appendChild(newContent);
	}

</script>