<style>
*{
	padding: 0;
	margin: 0;
	font-family: helvetica neue;
}

body{
	background-color: #ecf0f1;
	text-align:center;
	background: url('cal.png');
	background-size: 100%;
}

em{
	font-weight: 300;
	color: #444;
}

h1{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid silver;
	text-align: center;
	font-weight: 500;
	top: 0;
	background-color: rgba(255,255,255,0.8);
}

div{
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	background-color: #d35400;
	border-radius: 5px;
	display:inline-block;
	margin-top: 5%;
	margin-right: 10px;
	opacity: 0.95;
}

div#calculate{background-color: #2c3e50;}

h4{
	text-align:center;
	margin-top: 10%;
	font-size: 1.5em;
	font-weight: 100;
	color: whitesmoke;
}

input{
	border:none;
	width: 80%;
	height: 50px;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
}

textarea#result{
	width: 80%;
	text-align:center;
	font-family: helvetica neue;
	font-size: 1em;
	font-weight: 300;
	margin-top: 30px;
	min-height: 200px;
	border:none;
	padding: 5px;
}

button{
	border:none;
	background-color:#f1c40f;
	width: 30%;
	height: 30px;
	color: #444;
	font-family:helvetica neue;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0;
	cursor: pointer;
	-webkit-transition: box-shadow 0.3s;
}

button:active{
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-transition: box-shadow 0.3s;
}


</style>
<h1>Your <em>Change</em></h1> 

<div id="input">
<h4>Enter the cost of a product<br>and the amount paid</h4> 
<input id="cost" type="text" placeholder="Product cost">
<input id="payment" type="text" placeholder="Amount paid">
<button onclick="change()">Amount</button>
</div>

<div id="calculate">
<h4>Results:</h4>
<textarea rows="10" cols="30" id="result" type="text" disabled></textarea>
</div>

<script>
//your change

change = function(){
	//get the amounts, remove decimal and convert into ints
	var cost = parseInt(document.getElementById('cost').value.replace(/\./g, '')),
	amountPaid = parseInt(document.getElementById('payment').value.replace(/\./g, ''));

	//make sure we're working with numbers
	if(!isNaN(cost) && !isNaN(amountPaid)){
		//work out amount remaining
		var total = amountPaid - cost,
		originalCost = total;

		//check if any change is even needed!
		if(total == 0){
			document.getElementById('result').value = "You deserve no change sir!";
		}else if(total < 0){
			document.getElementById('result').value = "You need to pay more!";
		}

		while(total != 0){
			var fifty = Math.floor(total/5000);
			total = total - (5000*fifty);
			var twenty = Math.floor(total/2000);
			total = total - (2000*twenty);
			var ten = Math.floor(total/1000);
			total = total - (1000*ten);
			var five = Math.floor(total/500);
			total = total - (500*five);
			var two = Math.floor(total/200);
			total = total - (200*two);
			var one = Math.floor(total/100);
			total = total - (100*one);
			var fiftyP = Math.floor(total/50);
			total = total - (50*fiftyP);
			var twentyP = Math.floor(total/20);
			total = total - (20*twentyP);
			var tenP = Math.floor(total/10);
			total = total - (10*tenP);
			var fiveP = Math.floor(total/5);
			total = total - (5*fiveP);
			var twoP = Math.floor(total/2);
			total = total - (2*twoP);
			var oneP = Math.floor(total/1);
			total = total - (1*oneP);
		}

		var result = 'Your change consists of: ';
		if(fifty > 0){
			result+=fifty+" Fifty Pound Notes, ";	
		}
		if(twenty > 0){
			result+=twenty+" Twenty Pound Notes, ";	
		}
		if(ten > 0){
			result+=ten+" Ten Pound Notes, ";	
		}
		if(five > 0){
			result+=five+" Five Pound Notes, ";	
		}
		if(two > 0){
			result+=two+" Two Pound Coins, ";	
		}
		if(one > 0){
			result+=one+" One Pound Coins, ";	
		}
		if(fiftyP > 0){
			result+=fiftyP+" Fifty Pence Coins, ";	
		}
		if(twentyP > 0){
			result+=twentyP+" Twenty Pence Coins, ";	
		}
		if(tenP> 0){
			result+=tenP+" Ten Pence Coins, ";	
		}
		if(fiveP > 0){
			result+=fiveP+" Five Pence Coins, ";	
		}
		if(twoP > 0){
			result+=twoP+" Two Pence Coins, ";	
		}
		if(oneP > 0){
			result+=oneP+" One Pence Coins, ";	
		}

	}else{
		document.getElementById('result').value = "Please enter correct numbers";
	}
	document.getElementById('result').value = result;
}


</script>