/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Deutch';
  src: url("../fonts/Deutch/BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* line 12, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/screen.scss */
body {
  font-family: Deutch;
  width: 100%;
  color: #444;
  text-align: center;
}

/* line 23, ../sass/screen.scss */
i {
  font-style: italic;
  color: #666;
}

/* line 28, ../sass/screen.scss */
b {
  font-weight: 700;
  color: #666;
}

/* line 33, ../sass/screen.scss */
pre {
  font-family: Courier New;
  font-size: 0.6em;
}

/* line 38, ../sass/screen.scss */
.show {
  display: block !important;
}

/* line 42, ../sass/screen.scss */
.hide {
  display: none !important;
}

/* line 46, ../sass/screen.scss */
section#main {
  text-align: center;
  padding-top: 20px;
  width: 75%;
  display: inline-block;
  opacity: 1;
}

/* line 54, ../sass/screen.scss */
.questionTransition {
  opacity: 0 !important;
}

/* line 58, ../sass/screen.scss */
div#question {
  width: 100%;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
/* line 67, ../sass/screen.scss */
div#question:before, div#question:after {
  content: '';
  width: 45%;
  position: absolute;
  height: 20px;
  top: 20px;
  border-top: 1px solid lightgrey;
}
/* line 76, ../sass/screen.scss */
div#question:before {
  left: 0;
}
/* line 80, ../sass/screen.scss */
div#question:after {
  right: 0;
}
/* line 84, ../sass/screen.scss */
div#question span#number {
  width: 40px;
  height: 40px;
  background-color: #127efb;
  border-radius: 40px;
  text-align: center;
  line-height: 2.7em;
  display: inline-block;
  position: relative;
  color: white;
}
/* line 96, ../sass/screen.scss */
div#question p#questionReplace {
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 10px;
}

/* line 103, ../sass/screen.scss */
div#answers {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
/* line 110, ../sass/screen.scss */
div#answers ul li#last {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
}
/* line 117, ../sass/screen.scss */
div#answers ul li#last input[type="text"] {
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  position: absolute;
  font-family: Deutch;
  font-weight: 200;
  background-color: whitesmoke;
  font-size: 2em;
  color: #444;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
/* line 133, ../sass/screen.scss */
div#answers ul li#last:before {
  content: '';
  display: table;
  padding-top: 25%;
}
/* line 140, ../sass/screen.scss */
div#answers ul li {
  width: 25%;
  float: left;
  position: relative;
}
/* line 145, ../sass/screen.scss */
div#answers ul li:before {
  content: '';
  display: table;
  padding-top: 100%;
}
/* line 151, ../sass/screen.scss */
div#answers ul li:nth-child(4) {
  border-right: 1px solid lightgrey;
}
/* line 155, ../sass/screen.scss */
div#answers ul li a {
  text-decoration: none;
  color: #444;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 2px;
  padding-top: 30%;
}
/* line 172, ../sass/screen.scss */
div#answers ul li a:hover {
  background-color: #127efb;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 178, ../sass/screen.scss */
div#answers ul li a.active {
  background-color: #127efb;
  color: white;
}
/* line 183, ../sass/screen.scss */
div#answers ul li input[type="checkbox"] {
  display: none;
}

/* line 190, ../sass/screen.scss */
div#submit {
  border-top: 1px solid lightgrey;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
/* line 197, ../sass/screen.scss */
div#submit button#start, div#submit button#contButton {
  border: none;
  background-color: #127efb;
  font-family: Deutch;
  font-size: 2em;
  width: 300px;
  height: 100px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
/* line 209, ../sass/screen.scss */
div#submit button#start:hover, div#submit button#contButton:hover {
  background-color: #4499fc;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
/* line 214, ../sass/screen.scss */
div#submit button#start:active, div#submit button#contButton:active {
  background-color: #0465d6;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

/* line 221, ../sass/screen.scss */
p#finalScore {
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
/* line 228, ../sass/screen.scss */
p#finalScore:before, p#finalScore:after {
  content: '';
  display: block;
  width: 30%;
  height: 50%;
  position: absolute;
  border-top: 1px solid lightgrey;
  top: 50%;
}
/* line 238, ../sass/screen.scss */
p#finalScore:before {
  left: 0;
}
/* line 242, ../sass/screen.scss */
p#finalScore:after {
  right: 0;
}
/* line 246, ../sass/screen.scss */
p#finalScore span#score {
  background-color: #127efb;
  color: white;
  font-weight: 200;
  width: 90px;
  height: 90px;
  padding-top: 35px;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 90px;
}

/* line 258, ../sass/screen.scss */
div.question:nth-child(odd) {
  background-color: whitesmoke;
}

/* line 261, ../sass/screen.scss */
div.question {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
/* line 267, ../sass/screen.scss */
div.question pre {
  font-size: 0.8em;
  margin-top: 10px;
}
/* line 272, ../sass/screen.scss */
div.question p {
  font-size: 1.2em;
}
/* line 275, ../sass/screen.scss */
div.question p span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #127efb;
  color: white;
  font-weight: 200;
  border-radius: 50px;
  padding-top: 15px;
  margin-right: 15px;
}
/* line 288, ../sass/screen.scss */
div.question span.userAnswer {
  font-weight: 200;
  color: red;
  font-size: 1.1em;
}
/* line 294, ../sass/screen.scss */
div.question span.correctAnswer {
  font-weight: 200;
  color: green;
  font-size: 1.1em;
}
