/* Modern CSS Reset  - https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --main-blue: rgb(18, 126, 251);
    --main-blue-lighter: rgb( 18, 176, 251);
    --main-blue-darker: rgba( 18, 76, 251);
    --border-clr: lightgrey;
    --bck-clr: #FFF;
    --bck-clr-alt: whitesmoke;
    --font-clr: #444;
    --italic-clr: #666;
    --bold-clr: #666;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bck-clr: #222;
        --bck-clr-alt: #333;
        --font-clr: #999;
        --italic-clr: #BBB;
        --bold-clr: #BBB;
        --border-clr: #444;
    }
}

body {
	font-family: Deutch, garamond, sans-serif; 
	width: 100%;
	color: var(--font-clr);
    background-color: var(--bck-clr);
	text-align:center;
}

i {
	font-style: italic;
	color: var(--italic-clr);
}

b {
	font-weight: 700;
	color: var(--bold-clr);
}

pre {
	font-family: Menlo, Courier New;
	font-size: 0.6em;
}

.show {
	display:block !important;
}

.hide {
	display: none !important;
}

#main {
	text-align: center;
	padding-top: 20px;
	width: 75%;
	display: inline-block;
	opacity: 1;
}

.questionTransition {
	opacity: 0 !important;
}

#question {
	width: 100%;
	display:inline-block;
	position: relative;
	border-bottom: 1px solid var(--border-clr);
	padding-bottom: 40px;
	margin-bottom: 20px;
}

#question:before, #question:after {
    content: '';
    width: 45%;
    position: absolute;
    height: 20px;
    top: 20px;
    border-top: 1px solid var(--border-clr);
}

#question:before {
    left: 0;
}

#question:after {
    right: 0;
}

#number {
    width: 40px;
    height: 40px;
    background-color: var(--main-blue);
    border-radius: 40px;
    text-align:center;
    line-height: 2.7em;
    display:inline-block;
    position: relative;
    color: white;
}

#questionReplace {
    font-size: 2em;
    line-height: 1.5em;
    padding-top: 10px;
}

#answers {
	width: 100%;
	display:inline-block;
	margin-bottom: 20px;
	position: relative;
}

#answers ul { list-style: none; padding-inline-start: 0; }
#answers li {
    width: 25%;
    float: left;
    position: relative;
}

#answers li:before {
    content: '';
    display: table;
    padding-top: 100%;
}

#answers li:nth-child(4) {
    border-right: 1px solid var(--border-clr);
}

#answers li a {
    text-decoration: none;
    color: var(--font-clr);
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    position: absolute;
    border-left: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
    border-top: 1px solid var(--border-clr);
    transition: all 0.6s ease;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 2px;
    padding-top: 30%;
}


.active {
    background-color: var(--main-blue);
    color: white;
}

#answers input[type="checkbox"] {
    display: none;
}

#last {
    display: none;
    width: 100% !important;
    background-color: var(--bck-clr);;
    border: 1px solid var(--border-clr);
}

#last input[type="text"] {
    top: 35%;
    left: 25%;
    width: 50%;
    height: 30%;
    position: absolute;
    font-family: Deutch;
    font-weight: 200;
    background-color: var(--bck-clr-alt);
    font-size: 2em;
    color: var(--font-clr);
    text-align:center;
    border:1px solid var(--border-clr);
    border-radius: 5px;
}

#last:before {
    content: '';
    display: table;
    padding-top: 25% !important;
}

#submit {
	border-top: 1px solid var(--border-clr);
	width: 100%;
	display:inline-block;
	border-bottom: 1px solid var(--border-clr);
	padding: 10px;
}

#start, #contButton {
    border:none;
    background-color: var(--main-blue);
    font-size: 2em;
    width: 10.75em;
    height: 3em;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.6s ease;
}

#start:active, #contButton:active {
    background-color: var(--mainblue-darker);
}

#skip { margin-top: 1.5em; }

#skip_ahead { 
    border: none;
    background-color: var( --main-blue-darker );
    width: 5em;
    height: 2.5em;
    border-radius: 5px;
    color: white;
    transition: background-color 0.6s ease;
}


#finalScore {
	font-size: 2em;
	font-weight: 600;
	padding: 10px;
	border-bottom: var(--border-clr);
	position: relative;
}

#finalScore:before, #finalScore:after {
    content: '';
    display:block;
    width: 30%;
    height: 50%;
    position: absolute;
    border-top: 1px solid var(--border-clr);
    top: 50%;
}

#finalScore:before {
    left: 0;
}

#finalScore:after {
    right: 0;
}

#score {
    background-color: var(--main-blue);
    color: white;
    font-weight: 200;
    width: 90px;
    height: 90px;
    padding-top: 35px;
    font-size: 0.8em;
    display:inline-block;
    border-radius: 90px;
}

.question:nth-child(odd) {
	background-color: var(--bck-clr-alt);
}
.question {
	padding: 20px;
	border-bottom: 1px solid var(--border-clr);
	border-left: 1px solid var(--border-clr);
	border-right: 1px solid var(--border-clr);
}

.question pre { font-size: 0.8em; margin-top: 10px; }

.question p { font-size: 1.2em; };

.question span {
    display:inline-block;
    width: 50px;
    height:50px;
    background-color: var(--main-blue);
    color: var(--bck-clr);
    font-weight: 200;
    border-radius: 50px;
    padding-top: 15px;
    margin-right: 15px
}

.userAnswer {
    font-weight: 200;
    color: red;
    font-size: 1.1em;
}

.correctAnswer {
    font-weight: 200;
    color: green;
    font-size: 1.1em;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Light.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Medium.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/LightItalic.ttf') format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/MediumItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Deutch';
    src:  url('../fonts/Deutch/BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@media (hover: hover) {
    #answers li a:hover {
        background-color: var(--main-blue);
    }
    #start:hover, #contButton:hover {
        background-color: var(--main-blue-lighter);
    }

    #skip_ahead:hover { background-color: var(--main-blue); }
}
