:root {
    --bck-clr: #FFF;
    --font-clr: #111;
    --input-bck-clr: var(--bck-clr);
    --input-font-clr: var(--font-clr);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bck-clr: #222;
        --font-clr: #EEE;
        --input-bck-clr: #444;
        --input-font-clr: var(--font-clr);
    }
}

body, html {
    padding: 0;
    margin: 0;
    font-family: avenir, system-ui, tahoma, sans-serif;
    text-align: center;
    background-color: var(--bck-clr);
    color: var(--font-clr);
}

.main_container {
    display: flex;
    justify-content: center;
}

.container {
    width: 25em;
    margin: 0 1em;
}

hr{ margin-inline-end: 0; margin-inline-start: 0; border-left: 1px dashed #BB99DD; }

ul { text-align: left; list-style: none; padding-inline-start: 0; } 
.done{ min-height: 5em; border-radius: 0.25em; color: #DDD; }
.done li { transition: color 0.4s ease; text-decoration: line-through; }
.done li:hover{ color: black; text-decoration: none; }

.dragOver { border: 1px dashed #DD7799; }

ul li {
    padding: 0.5em 0 0.5em 0.8em;
    border-bottom: 1px dashed #99DDBB;
    position: relative;
}

ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background-color: #DDAA00;
    top: 0.75em;
    left: -0.1em;
}

#input_item { padding: 0.5em 0; }
#input_item:before { display: none; }

.done li:before{ background-color: #00DDAA; }

input {
    width: calc( 100% - 1em);
    border-radius: 0.25em;
    border: 1px solid #999;
    height: 2em;
    padding: 0.5em;
    background-color: var(--input-bck-clr);
    color: var(--input-font-clr);
}
