#resultados_pc {
    position: fixed; 
    bottom: 1em;
    left: 1em;
}

#resultados_container {
    text-align: center;
    position: relative;
    border: 1px solid #DDD;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 350px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.2 );
    background-color: #FAFAFA;
    color: #222;
    overflow: hidden;
    font-size: 1em;
}

#resultados_container h1, #resultados_container h2, #resultados_container p { margin: 0; padding: 4px 0; line-height: 1.4em; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#resultados_container h1 {
    border-bottom: 1px solid #DDD;
    font-size: 1.8em;
    color: #222;
}

#resultados_container h2 { font-weight: 500; color: #444; font-size: 1.1em; }

[id$=_Mejor]:before, [id$=_Peor]:before, [id$=_Promedio]:before {
    content: "•";
    display: inline-block;
    font-size: 1.4em;
    margin-right: 0.3em;
}

[id$=_Mejor]:before { color: green; }
[id$=_Peor]:before { color: red; }
[id$=_Promedio]:before { color: orange; }

#resultados_results_key { 
    border-bottom: 1px solid #DDD;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 300;
}

#resultados_list_container {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
}

.resultados_list {
    padding-inline-start: 0;
    border-right: 1px solid #DDD;
    margin: 0;
}

.resultados_list:nth-child( 3 ) { border: none; }

.resultados_list li { list-style: none; border-bottom: 1px solid #EEE; }

#resultados_rounds { 
    font-weight: 300;
    text-transform: lowercase;
    font-variant: small-caps;
}

#resultados_rondas { 
    font-weight: 400;
}

#resultados_close_btn {
    border: 1px solid #BB2222;
    display: inline-block;
    font-weight: 500;
    background-color: #FF2222;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em;
    line-height: 0.7em;
    font-size: 1.3em;
    z-index: 2;
}

#resultados_warning {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, 0.8 );
    color: #EEE;
    font-weight: 600;
    padding: 2.5em;
    font-size: 1.5em;
    display: none;
}

#resultados_warning.show {
    display: block;
}

#resultados_warning p { line-height: 1.8em !important; }
